.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.calc-board {
  width: 370px;
  height: 640px;
  background-color: aliceblue;
  padding: 40px;
}

